/* ******************************************** */
/** COMPONENT: HERO
/* ******************************************** */

/* HERO */

.c-hero {
    --_min-height: 65vh;
    --_hero-offset: -1;
    --heading-color: var(--color-neutral-100);

    position: relative;
    isolation: isolate;
    min-height: var(--_min-height);
}

.c-hero+* {
    position: relative;
    margin-top: calc(var(--header) * var(--hero-offset));
    z-index: 1;
}

.c-hero__background-image {
    position: absolute;
    top: var(--header);
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/temp/generic/hero-bg.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
}

.c-hero__content {
    position: relative;
    top: calc(var(--header) * 2.2);
    z-index: 1;
}



/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) {
    /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) {
    /* 767px, 730px */
}





/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) {
    /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) {
    /* 768px */
}

@media (min-width: 48rem) and (orientation: portrait) {}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) {
    /* 980px */

    .c-hero {
        --_min-height: 50vh;
    }

}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) {
    /* 1200px */
}

@media (min-width: 75rem) and (min-height: 45rem) {
    /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) {
    /* 1400px */
}

@media (min-width: 87.5rem) and (min-height: 49.375rem) {
    /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) {
    /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) {
    /* 1600px, 790px */
}

@media (min-width: 100rem) and (min-height: 56.25rem) {
    /* 1600px, 900px */
}

@media (min-width: 112.5rem) {
    /* 1800px */
}

@media (min-width: 112.5rem) and (min-height: 56.25rem) {
    /* 1800px, 900px */
}