/* ******************************************** */
/** COMPONENT: BTNs
/* ******************************************** */

/*  BTNS */


.c-btn{
  --_fz: var(--fz-300);
  --_ff: var(--font-alt);
  --_fw: 700;
  --_lh: 1.2;
  --_ls: 1;
  --_py: 1.1rem;
  --_px: 2.4rem;
  --_radius: .3rem;
  --_color: var(--color-neutral-100);
  --_bg: var(--color-primary-500);

  display: block;
  width: max-content;
  font-size: var(--btn-fz, var(--_fz));
  font-family: var(--btn-ff, var(--_ff));
  font-weight: var(--btn-fw, var(--_fw));
  line-height: var(--btn-lh, var(--_lh));
  letter-spacing: var(--btn-ls, var(--_ls));
  color: var(--btn-color, var(--_color));
  background-color: var(--btn-bg, var(--_bg));
  padding: var(--btn-py, var(--_py)) var(--btn-px, var(--_px));
  border-radius: var(--btn-radius, var(--_radius));
  box-shadow: .75rem .75rem 0 0 var(--color-secondary);
}

.c-btn--light{
  --_bg: var(--color-neutral-100);
  --_color: var(--color-primary-500);
}

.u-text + .c-btn, 
.u-heading + .c-btn,
.c-btn + .c-btn{
    margin-top: 1.2em;
}


.c-btn + *{
    margin-left: 1em;
    margin-top: .75em;
}

