/* ******************************************** */
/** COMPONENT: DUMMY
/* ******************************************** */

/* DUMMY */

.c-footer{
  --_fz: var(--fz-000);
  --_bg: var(--color-primary-500);
  --_color: var(--color-neutral-100);
  --_gap: 3.2rem;
  --_space-y: .75em;

  background-color: var(--_bg);
  color: var(--_color);
  font-size: var(--_fz);
  /* margin-top: var(--section-y); */
}

.c-footer__wrapper, 
.c-footer__nav{
  --_cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--_cols), 1fr);
  gap: var(--_gap);
}

.c-footer__logo{
  max-width: 24rem;
}

.c-footer__description{
  margin-top: var(--_space-y);
}

.c-footer__title{
  font-size: var(--fz-300);
  font-weight: 700;
  font-family: var(--font-alt);
}

.c-footer__item{
  margin-top: var(--_space-y);
}

.c-footer__link img{
  max-width: 2rem;
  width: 100%;
  height: 100%;
}

.c-footer__link.is-active{
  color: var(--color-secondary);
}


.c-footer__copyright{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-footer__sublist{
  display: flex;
  gap: 1.2rem;
}

.c-footer__sublist > li:not(:last-child)::after {
  content: '|';
  margin-left: 0.6rem;
}


@media (hover: hover) {
  .c-footer__link:is(:hover, :focus) {
    color: var(--color-secondary);
  }

  .c-footer__link img:is(:hover, :focus) {
    opacity: .8;
  }
}


/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) { /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) { /* 767px, 730px */
}

 



/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) { /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) { /* 768px */
}
@media (min-width: 48rem) and (orientation: portrait) {
}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) { /* 980px */

  .c-footer__wrapper, 
  .c-footer__nav{
    --_cols: 2;
  }

  .c-footer__wrapper{
    --_gap: 8em;
    gap: var(--_gap);
  }


  .c-footer__logo{
    margin-inline: 0;
  }
  
  
  .c-footer__description{
    margin-top: var(--_space-y);
  }

}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) { /* 1200px */
}
@media (min-width: 75rem) and (min-height: 45rem) { /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) { /* 1400px */
}
@media (min-width: 87.5rem) and (min-height: 49.375rem) { /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) { /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) { /* 1600px, 790px */
}
@media (min-width: 100rem) and (min-height: 56.25rem) { /* 1600px, 900px */
}

@media (min-width: 112.5rem) { /* 1800px */
}
@media (min-width: 112.5rem) and (min-height: 56.25rem) { /* 1800px, 900px */
}