/* ******************************************** */
/** SETTINGS: COLORS
/* ******************************************** */

:root {

    /* ! COLORS */

    /* * Primary */
    --color-primary-500: #001432;
    --color-primary-600: #000D2E;
    --color-primary-500-hsl: 216 100% 10%;
  
    --color-secondary: #41D2BE;
    --color-secondary-hsl: 172 62% 54%;

    /* * Neutral */
    --color-neutral-100: #FFFFFF;
    --color-neutral-500: #808080;
    --color-neutral-900: #1A1A1A;

    --color-neutral-100-hsl: 0 0% 100%;
    --color-neutral-900-hsl: 0 0% 10%;

    --color-error: #fe3b3b;
    --color-success: #a7c957;

} 