/* ******************************************** */
/** SETTINGS: COLORS
/* ******************************************** */

:root {

    /* ! COLORS */

    /* * Primary */
    --color-primary-500: #001432;
    --color-primary-600: #000D2E;
    --color-primary-500-hsl: 216 100% 10%;
  
    --color-secondary: #FF6065;
    --color-accent: #41D2BE;

    --e-global-color-accent: #41D2BE;

    /* * Neutral */
    --color-neutral-100: #FFFFFF;
    --color-neutral-500: #808080;
    --color-neutral-900: #1A1A1A;

    --color-neutral-100-hsl: 0 0% 100%;
    --color-neutral-900-hsl: 0 0% 10%;
}