/* ******************************************** */
/** UTILITIES: ANIMATIONS
/* ******************************************** */

/* ANIMATIONS */

.u-animation-left {
    opacity: 0;
}

.u-animation-right {
    opacity: 0;
}

.u-animation-down {
    opacity: 0;
}

.u-animation-sequence {
    opacity: 0;
}