/* ******************************************** */
/** COMPONENT: HEADINGS
/* ******************************************** */

/*
  ! HEADING
  OVERRIDES:
    * // --heading-ff               // Font family
    * // --heading-fz               // Font size
    * // --heading-fw               // Font weight
    * // --heading-lh               // Line height
    * // --heading-ls               // Letter spacing
    * // --heading-color            // Color
    * // --heading-strong-color     // Strong Color
    * // --heading-strong-fw        // Strong Font weight
*/


.u-heading{
  --_fz: var(--fz-800);
  --_ff: var(--font-alt);
  --_fw: 700;
  --_lh: 1.2;
  --_ls: 1;
  --_color: var(--color-primary-500);

  font-size: var(--heading-fz, var(--_fz));
  font-family: var(--heading-ff, var(--_ff));
  font-weight: var(--heading-fw, var(--_fw));
  line-height: var(--heading-lh, var(--_lh));
  letter-spacing: var(--heading-ls, var(--_ls));
  color: var(--heading-color, var(--_color));
}

.u-heading--sm{
  --_fz: var(--fz-700);
}

.u-heading--xs{
  --_fz: var(--fz-600);
}

.u-heading--center{
  text-align: center;
  margin-inline: auto;
}

.u-heading + .u-text, 
.u-subheading + .u-text, 
.u-heading + .u-subheading{
  margin-top: 1.5em;
}


.u-subheading{
  --_fz: var(--fz-300);
  --_ff: var(--font-alt);
  --_fw: 700;
  --_lh: 1.2;
  --_ls: 1;
  --_color: var(--color-primary-500);

  font-size: var(--subheading-fz, var(--_fz));
  font-family: var(--subheading-ff, var(--_ff));
  font-weight: var(--subheading-fw, var(--_fw));
  line-height: var(--subheading-lh, var(--_lh));
  letter-spacing: var(--subheading-ls, var(--_ls));
  color: var(--subheading-color, var(--_color));
}

.u-subheading span,
.u-heading span{
  --_color: var(--color-accent);
  color: var(--subheading-span-color, var(--_color));
}



