/* ******************************************** */
/** UTILITIES: ANIMATIONS
/* ******************************************** */

/* ANIMATIONS */

.u-slide-left {
    opacity: 0;
    transform: translateX(-100px);
}

.u-slide-right {
    opacity: 0;
    transform: translateX(100px);
}

.u-slide-down {
    opacity: 0;
    transform: translateY(-100px);
}