/* VIDEO */

.c-hero{
    position: relative;
    width: 100%;
    height: 100vh;

}
.c-hero__video{
    position: absolute;
    width: 100%;
    height: 100%;
}

.c-hero__video-video{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.c-hero__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.c-hero__logo img{
    max-width: clamp(28rem, 29.8611vw, 43rem);
    height: auto;
}

.c-video__btn{
    width: 28px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 30px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../images/static/video/sound.svg);	
}

.c-video.is-muted .c-video__btn{
    background-image: url(../../images/static/video/sound-off.svg);
}

.c-video__btn--right{
    right: 30px;
}

.c-video.is-loading:before{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 4px solid var(--color-primary-500);
    border-top-color: rgb(var(--color-darkest-rgb)/40%);
    border-right-color: rgb(var(--color-darkest-rgb)/40%);
    border-radius: 50%;
    -webkit-animation: videoLoading 400ms linear infinite;
    animation: videoLoading 400ms linear infinite;
}

/* Hide loader when video is playing */
.c-video.is-playing.is-loading:before{
    display: none;
}

.c-video__alert{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.c-video.has-error .c-video__alert{
    display: flex;
}

.c-video__alert-text{
    font-size: 1.6rem;
    background-color: rgb(var(--color-darkest-rgb)/60%);
    padding: 0.6em 1em;
    color: var(--color-lightest);
}

@media (hover: hover) {
    .c-video__btn:is(:hover, :focus){
        opacity: .7;
    }
}

@-webkit-keyframes videoLoading{
    from{
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg)
    }
    to{
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@keyframes videoLoading{
    from{
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg)
    }
    to{
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}