.c-media-content__container {
    position: relative;
    width: 100%;
}

.c-expansion__banner {
    position: relative;
    width: 100%;
    z-index: 1;
    display: block;
}

.c-expansion__banner img {
    display: block;
    width: 100%;
    height: auto;
}

.c-expansion__banner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    -webkit-mask-image: url("/assets/images/temp/generic/figure-back-video-mask.svg");
    mask-image: url("/assets/images/temp/generic/figure-back-video-mask.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: center;
    mask-position: center;
}

.c-expansion__banner-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}
