/* ******************************************** */
/** COMPONENT: CLOSING
/* ******************************************** */

/* CLOSING */

.c-closing {
    --heading-color: var(--color-neutral-100);
    position: relative;
    isolation: isolate;
    height: auto;
}

.c-closing__background {
    position: relative;
    inset: 0;
    height: 0;
    padding-bottom: 36.25%;
    overflow: hidden;
    background-image: url('/assets/images/temp/uytuna/uytuna@closing-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    clip-path: polygon(0 0, 0% 0, 100% 25%, 100% 100%, 100% 100%, 0 75%);
    pointer-events: none;
}

.c-closing__content {
    position: relative;
    top: -20rem;
    height: max-content;
    margin-inline: auto;
    background-color: var(--color-primary-500);
    z-index: 0;
}

.c-closing__title {
    text-align: left;
    padding-bottom: 1rem;
    border-bottom: .2rem solid var(--color-neutral-100);
    margin-top: 30rem;
}

.c-closing__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.c-closing__item {
    text-align: left;
    font-size: var(--fz-200);
    color: var(--color-neutral-100);
}


/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) {
    /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) {
    /* 767px, 730px */
}





/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) {
    /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) {
    /* 768px */
}

@media (min-width: 48rem) and (orientation: portrait) {}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) {

    /* 980px */
    .c-closing {
        height: 110vh;
    }

    .c-closing__background::before {
        clip-path: polygon(100% 25%, 100% 0, 0 0);
    }

    .c-closing__list {
        grid-template-columns: repeat(4, 1fr);
    }
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) {
    /* 1200px */
}

@media (min-width: 75rem) and (min-height: 45rem) {
    /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) {
    /* 1400px */
}

@media (min-width: 87.5rem) and (min-height: 49.375rem) {
    /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) {
    /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) {
    /* 1600px, 790px */
}

@media (min-width: 100rem) and (min-height: 56.25rem) {
    /* 1600px, 900px */
}

@media (min-width: 112.5rem) {
    /* 1800px */
}

@media (min-width: 112.5rem) and (min-height: 56.25rem) {
    /* 1800px, 900px */
}