/* ******************************************** */
/** COMPONENT: CLOSING
/* ******************************************** */

/* CLOSING */

.c-closing {
    --_offset: clamp(6rem, 8vw, 12rem);
    --_color: var(--color-neutral-100);
    --text-fz: var(--fz-200);
    --heading-color: var(--color-neutral-100);

    position: relative;
    isolation: isolate;
    color: var(--_color);
    font-size: var(--_fz);
    padding-bottom: calc(var(--_offset) * 1);
}


.c-closing__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50%;
    aspect-ratio: 160 / 58;
    overflow: hidden;
}

.c-closing__background {
    position: absolute;
    inset: 0;
    background-image: url('/assets/images/temp/uytuna/uytuna@closing-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    clip-path: polygon(0 0, 0 0, 100% 25%, 100% 100%, 100% 100%, 0% 75%);
    pointer-events: none;
}

.c-closing__content {
    position: relative;
    margin-top: calc(var(--_offset) * -1);
    padding-block: var(--_offset);
    clip-path: polygon(0 0, 0 0, 100% 9%, 100% 100%, 100% 100%, 0% 90%);
    background-color: var(--color-primary-500);
    z-index: 1;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, .2);
}


.c-closing__content-inner {
    width: min(100%, 52rem);
    margin-inline: auto;
}

.c-closing__title {
    border-bottom: .1rem solid var(--color-neutral-100);
    padding-bottom: .2em;
}

.c-closing__list {
    margin-top: 1.5em;
}

.c-closing__item {
    margin-top: 1em;
}

.c-closing__pic-wrapper {
    position: relative;
    width: 100%;
    height: clamp(16rem, 26vw, 34rem);
    margin-top: calc(var(--_offset) * -.2);
}

.c-closing__pic {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 10%);
    z-index: 2;
    pointer-events: none;
}

.c-closing__pic img {
    max-width: clamp(35rem, 83.33vw, 120rem);
}


/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) {
    /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) {
    /* 767px, 730px */
}





/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) {
    /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) {
    /* 768px */
}

@media (min-width: 48rem) and (orientation: portrait) {}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) {

    /* 980px */
    .c-closing {
        --_offset: 30rem;
        height: auto;
    }

    .c-closing__content {
        clip-path: polygon(0 0, 0 0, 100% 25%, 100% 100%, 100% 100%, 0% 75%);

    }

    .c-closing__pic-wrapper {
        margin-top: calc(var(--_offset) * -.3);
    }

    .c-closing__pic {
        left: 45%;
        transform: translate(-45%, 30%);
    }
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) {
    /* 1200px */
}

@media (min-width: 75rem) and (min-height: 45rem) {
    /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) {
    /* 1400px */
}

@media (min-width: 87.5rem) and (min-height: 49.375rem) {
    /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) {
    /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) {
    /* 1600px, 790px */
}

@media (min-width: 100rem) and (min-height: 56.25rem) {
    /* 1600px, 900px */
}

@media (min-width: 112.5rem) {
    /* 1800px */
}

@media (min-width: 112.5rem) and (min-height: 56.25rem) {
    /* 1800px, 900px */
}